.work{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  



}

.styler{
  max-width: 100%;
 
  background-color: rgb(247, 247, 247);
}
.mainformy{

  display: flex;
  flex-direction: row;
  
}
.formy{
  
  width: 20rem;
  border-radius: .50rem;
  
}
@media (max-width: 800px) {
  .formy{
    flex: 100%;
  }
}
@media (max-width: 1200px) {
  .mainformy {
    flex: 100%;
    flex-direction: column;
  }
}

.dropdownn{
  width: 45rem;
}